svg {
    position: relative;
    width: 800px;
    height: 900px;
}

#mapbox{
    top: -85px;
    width: 800px;
    height: 900px;
}

#tooltip {
  position: absolute;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0;
}

.mybutton#play {
    font-size: 16px;
    height: 35px;
    margin-top: -7px;
    min-width: 60px;
    max-width: 60px;
}

#info {
    position: relative;
    z-index: 300;
    top: 82px;
    background-color: #c0cdd1;
    border: 1px solid #312f2a;
    font-family: 'Poiret One';
    font-weight: bold;
    max-width: 375px;
    padding: 10px;
}

#slider-box {
    position: relative;
    z-index: 150;
    background-color: #c0cdd1;
    padding: 15px;
    margin: 20px;
}

.radio-button {
    position: relative;
    z-index: 300;
    margin-left: 10px;
    padding-bottom: 10px;
}

.radio-button input {
    position: relative;
    z-index: 300;
    margin: 5px;
}

.radio-box {
    position: relative;
    z-index: 300;
}
