packages:
  rpm:
    rabbitmq-server: https://www.rabbitmq.com/releases/rabbitmq-server/v3.5.4/rabbitmq-server-3.5.4-1.noarch.rpm
container_commands:
  00_set_rabbitmq_service:
    command: "chkconfig rabbitmq-server on &>> /tmp/rabbit.log"
  01_start_rabbitmq:
    command: "rabbitmq-server -detached &>> /tmp/rabbit.log"
    ignoreErrors: true
  02_add_rabbitmq_user:
    command: "rabbitmqctl add_user $RABBITMQ_USER $RABBITMQ_PASSWORD &>> /tmp/rabbit.log"
    ignoreErrors: true
  03_add_rabbitmq_vhost:
    command: "rabbitmqctl add_vhost $RABBITMQ_VHOST &>> /tmp/rabbit.log"
    ignoreErrors: true
  04_set_rabbitmq_perm:
    command: 'rabbitmqctl set_permissions -p $RABBITMQ_VHOST $RABBITMQ_USER ".*" ".*" ".*"'
