{% extends 'base.html' %}

{% block content %}
        <div class="post">
                <div class="blog-post">
                        <div class="date">
                                {% if post.published_date %}
                                                {{post.published_date}}
                                                <br>
                                {% else %}
                                        <a href="{% url 'blogging.views.post_publish' pk=post.pk %}"><input type="submit" value="Publish" class="mybutton spaced"></a><br>
                                {% endif%}

                                {% if user.is_authenticated %}
                                <a  href="{% url 'post_edit' pk=post.pk %}"class="mybutton small"><span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="{% url 'post_delete' pk=post.pk %}" class="mybutton small"><span class="glyphicon glyphicon-remove"></span></a>
                                {% endif %}
                        </div>

                        <h2>{{ post.title }}</h2>

                        <div class="post-content">
                        {% comment %} Lists the associated projects with links to their pages. {% endcomment %}
                            <div class="project-relation">
                            {% if projects_length == 1 %}
                                    <h4>This post describes the project
                                    {%  for project in post.project.all %}
                                           <a href="{%url 'projects.views.project_detail' pk=project.pk %}">{{project}}</a>.
                                    {% endfor %} </h4>
                            {% elif projects_length > 1 %}
                                <h4>This post describes the projects
                                {%  for project in post.project.all %}
                                        {% if forloop.last %}
                                                and <a href="{%url 'projects.views.project_detail' pk=project.pk %}">{{project}}</a>.
                                        {% else %}
                                                <a href="{%url 'projects.views.project_detail' pk=project.pk %}">{{project}}</a>,
                                        {% endif %}
                                {% endfor %} </h4>
                            {% endif %}
                            </div>
                                {{ post.text|linebreaks }}
                        </div>
                </div>
                {% if post.published_date %}

                        {% if post.comment_set.all %}
                        <h2>Comments</h2>
                        <hr>
                        <div class="blog_comments">
                                {% for comment in post.comment_set.all %}
                                <div class="date">
                                        {{ comment.posted_date }}
                                </div>
                                <h3> {{comment.author }} </h3>
                                {{ comment.text|linebreaks }}
                                <hr>
                                {% endfor %}
                        </div>
                        {% endif %}

                        <div class="comment-form">
                                <h3>Add Comment</h3>
                                 <form method="POST" class='comment-form'>{% csrf_token %}
                                {{ form.as_p }}
                                <input type='submit' value='Save' class='mybutton'>
                                </form>
                        </div>

                {% endif %}
        </div>
{% endblock %}
