{% extends 'base.html' %}

{% block content %}
<div class="about">
        <h3>I'm Josh Addington.</h3>

        <p>I'm from the bonafide Amish Country; Lancaster, PA, but have been criss-crossing Eastern PA for
        the past 5 years. I just finished up a degree in CS, and I'm excited about putting my experience to
        use in making  a lasting impact on those around me, in ways that don't include building the next
        great way to take a selfie (although my wife and I do take our fair share of them together).  </p>
        <br>
        <p>I'm a Python/Django Developer that loves to create data visualizations of Open Data. I'm planning
        on using D3.js for each project, but chances are that I'll also post a visualization created using
        another framework or platform as well. I'll be using this blog as a medium for posting my data
        visualization projects and blogging about what I did for each visualization. Some of the visualizations
        could be inspired by what I see groups in NYC talking about on Twitter, while others will be inspired
        by what a dataset looks like it might be showing me.</p>

</div>
{% endblock %}
