<!DOCTYPE html>
{% load static from staticfiles %}
<html>
<head>
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Poiret+One|Ubuntu:400'>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="//apis.google.com/js/client:platform.js" async defer></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.8.0/bootstrap-social.min.css">
        <title>Josh Addington</title>
</head>
<body>
<div id="fb-root"></div>
<div class="page-header">
        {% if user.is_superuser %}
                <a href="{% url 'blog.views.post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>

                <a href="{% url 'blog.views.post_new' %}" class='top-menu'><span class='glyphicon glyphicon-plus'></span></a>

        {% endif %}
        <div class="nav">
                <a href="{% url 'blog.views.post_list' %}">Home</a>
                <a href="{% url 'openshift.views.about' %}">About</a>
                <a href="{% url 'projects.views.project_list' %}">Projects</a>
                <a href="{% url 'openshift.views.contact' %}">Contact</a>
        </div>
        <h1><a href='/'>Josh Addington</a></h1>
</div>
<div class="wrapper">
        <div class="row">
                <div class="col-md-2 auth">
                        <div class="account">
                           {% if user and not user.is_anonymous %}

                               <a>Hello {{ user.get_full_name|default:user.username }}!</a>

                               <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>

                           {% else %}
                            <button class="mybutton signin-button">Sign In</button>
                           <div class="signin-options">

                                <a class="btn btn-social-icon btn-google-plus" href="{% url 'social:begin' 'google-plus' %}?next={{ request.path }}">
                                    <i class="fa fa-google-plus"></i>
                               </a>

                               <a class="btn btn-social-icon btn-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                                    <i class="fa fa-twitter"></i>
                                </a>

                                <a class="btn btn-social-icon btn-github" href="{% url 'social:begin' 'github' %}?next={{ request.path }}">
                                    <i class="fa fa-github-square fa-2"></i>
                                </a>
                           </div>
                           {% endif %}
                        </div>
                </div>
                <div class="col-md-9 content">
                {% autoescape off %}
                {% block content %}
                {% endblock content %}
                {%  block project %}
                {% endblock project %}
                {% endautoescape %}
                </div>
        </div>
</div>
{% block extra_js %}
{% endblock extra_js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
</body>
</html>
