{% extends 'base.html' %}

{% block content %}
<div class='contacts'>
        <h2>Get in touch with me</h2>
        <hr>
        <div class="col-md-5 left contact">
                <a href='https://twitter.com/JoshAddington'><h3><i class="fa fa-twitter-square fa-lg"></i>Twitter</h3>@JoshAddington</a>
        </div>
        <div class="col-md-5 right contact">
                <a href='mailto:Josh@JoshAddington.com'><h3><i class="fa fa-envelope-square fa-lg"></i>E-Mail</h3>Josh@JoshAddington.com</a>
        </div>
                <br>
        <div class="col-md-5 left contact">
                <a href='https://github.com/JoshAddington'><h3><i class='fa fa-github-square fa-lg'></i>Github</h3>GitHub.com/JoshAddington</a>
        </div>
        <div class="col-md-5 right contact">
                <a href='https://www.linkedin.com/in/joshaddington'><h3><i class='fa fa-linkedin-square fa-lg'></i>LinkedIn</h3>LinkedIn/in/JoshAddington</a>
        </div>
</div>
{% endblock %}
